<header class="sticky-top">
<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm 
    position-static 
    navbar-light bg-light 
    border-bottom box-shadow
    text-nowrap"
  >
    <div class="container-fluid">
        <a class="navbar-brand text-nowrap" [routerLink]="['/']">НИЧ</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Счётчик</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Вывод данных</a>
          </li> 
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/nir-edit']">Редактирование НИР</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Списки</a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-dark" [routerLink]="['/all-srw']">Все НИР</a>
              <a class="dropdown-item text-dark">Неподписанные ШР</a>
            </div>
          </li>
        </ul>

        <ul class=" navbar-nav">
          <li class="nav-item d-inline-flex">
            <a class="nav-link text-dark" href="#">
              <svg class=" bi bi-people-circle mb-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z" />
                <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd" />
              </svg>
              Профиль
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Вход / Регистрация
            </a>
            <div class="dropdown-menu " role="menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-dark" href="#">Вход</a>
              <a class="dropdown-item text-dark" href="#">Регистрация</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
