<div class="container-fluid">	
	<br>
	<h1><strong>Список научно-исследовательских работ</strong></h1>
	<br>
	<dx-check-box
		[(value)]="isAllChB"
		[width]="100"
		text="Все НИР"
		(onValueChanged)="handleValueChange($event)">
	</dx-check-box>
	<dx-button
		text="Обновить"
		(onClick)="updateClicked($event)">
	</dx-button>
	<br>

	<dx-data-grid id="dataGrid"
		[(dataSource)]="SRWArrayStore"

		[showBorders]="true"
		[showColumnLines]="true"
		[showRowLines]="true"
		[rowAlternationEnabled]="true"

		[focusStateEnabled]="true"
		[focusedRowEnabled]="true"
		[allowColumnResizing]="true"
		[focusedRowEnabled]=true
		[allowColumnReordering]="true"
		(onRowDblClick)="handleRowDblClick($event)"> 
	>
	
    <dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-filter-row 
	[visible]="true" ></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
<dxo-search-panel [visible]="true" [width]="240" placeholder="Поиск..."></dxo-search-panel>
	<dxo-scrolling mode="infinite"></dxo-scrolling>
					<dxo-editing 
					mode="popup"
					[allowUpdating]="true">
					<dxo-popup
						title=""
						[showTitle]="true"
						[width]="700"
						[height]="525"
						[position]="{ my: 'center', at: 'center', of: window }">
					</dxo-popup>
					</dxo-editing>

	<dxi-column dataField="NumSRW" caption="№ НИР" dataType="string" width="6%" ></dxi-column>
	
	<dxi-column dataField="B_DateTime" caption="Дата начала" dataType="date" width="6%"></dxi-column>

	<dxi-column dataField="E_DateTime" caption="Дата окончания" dataType="date" width="6%"></dxi-column>

	<dxi-column dataField="Type" caption="Тип НИР" dataType="string" width="16%"></dxi-column>
	
	<dxi-column dataField="FullNameSRW" caption="Наименование" dataType="string" width="20%"></dxi-column>
	
	<dxi-column dataField="NameDirection" caption="Направление финансирования" dataType="string" width="14%"></dxi-column>
	
	<dxi-column dataField="ShortName" caption="Заказчик" dataType="string" width="16%"></dxi-column>
	
	<dxi-column dataField="ExecutorName" caption="Исполнитель" dataType="string" width="16%"></dxi-column>
	</dx-data-grid>
</div>