<div class="container">
  <br>
	<h1><strong>Добавление научно-исследовательской работы</strong></h1>
	<br>
<form (ngSubmit)="saveSRW(SRW)" #formSRW="ngForm" novalidate>
    <div class="row">
      <div class="form-group col-4">
        <label for="inputNIR">№ НИР</label>
        <dx-text-box id="inputNIR" placeholder="№ НИР" [(ngModel)]="SRW.NumSRW" name ="NumSRW"></dx-text-box>
      </div>
      <div class="form-group col-4">
        <label for="textareaNameNir">Наименование НИР</label>
        <dx-text-area id="textareaNameNir" placeholder="Наименование НИР" [(ngModel)]="SRW.FullNameSRW" name ="FullNameSRW" ></dx-text-area>
      </div>
    </div>
    <div class="row">
    <div class="form-group col-4">
      <label for="inputDateIn">Дата начала</label>
      <dx-date-box class="form-control" id="inputDateIn"type="date" placeholder="01/01/2021"
      [showClearButton]="true"
      [useMaskBehavior]="true"
      [(value)]="SRW.B_DateTime"></dx-date-box>
    </div>
    <div class="form-group col-4">
      <label for="inputDateOut">Дата окончания</label>
      <dx-date-box class="form-control" id="inputDateOut"type="date" placeholder="01/01/2021"
      [showClearButton]="true"
      [useMaskBehavior]="true"
      [(value)]="SRW.E_DateTime"></dx-date-box>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="Type">Тип НИР</label>
      <dx-select-box 
        class="form-control" 
        id="Type"
        placeholder="Выберите тип"
        [showClearButton]="true"
        [dataSource]="Classifs"
        displayExpr="Name"
        valueExpr="IdType"
        [(value)]="SRW.IdType"
        >
    </dx-select-box>
    </div>
    <div class="form-group col-4">
      <label for="organization">Заказчик</label>
      <dx-select-box 
        class="form-control" 
        id="organization"
        placeholder="Выберите pаказчика"
        [showClearButton]="true"
        [dataSource]="Organizations"
        displayExpr="FullName"
        valueExpr="IdOrganization"
        searchMode= contains
        searchExpr=FullName
        searchTimeout=200
        minSearchLength=0
        [searchEnabled]="true"
        [(value)]="SRW.IdOrganization">
      </dx-select-box>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="finance">Направление финансирования</label>
      <dx-select-box
        class="form-control"
        id="finance"
        placeholder="Выберите направление финансирования"
        [showClearButton]="true"
        [dataSource]="Finances"
        displayExpr="NameDirection"
        valueExpr="IdDirection"
        searchMode=contains
        searchExpr=NameDirection
        searchTimeout=200
        minSearchLength=0
        [searchEnabled]="true"
        [(value)]="SRW.IdDirection">
      </dx-select-box>
    </div>
  </div>
    <div class="row">
      <div class="form-group col-4">
        <label for="otherFin">Дополнительное финансирование</label>
        <dx-check-box id="otherFin"
        class="check-box"
        [(value)]="SRW.OtherFin">
        </dx-check-box>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-4">
        <label for="ssheff">Научный руководитель</label>
        <dx-text-box class="form-control" id="ssheff"  [(ngModel)]="SRW.SSheff" name ="SSheff"></dx-text-box>
      </div>
      <div class="form-group col-4">
        <label for="baseExec">Ответственный исполнитель</label>
        <dx-text-box class="form-control" id="baseExec" [(ngModel)]="SRW.BaseExec" name ="BaseExec"></dx-text-box>
      </div>
    </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="phone">Телефон</label>
      <dx-text-box class="form-control" id="phone"
      mask="+375 (00) 000-0000"
      [(ngModel)]="SRW.Phone" name ="Phone"></dx-text-box>
    </div>
    <div class="form-group col-4">
      <label for="nomReg">№ регистрации</label>
      <dx-text-box class="form-control" id="nomReg" [(ngModel)]="SRW.NomReg" name ="NomReg"></dx-text-box>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="OrdNum">№ приказа </label>
      <dx-text-box class="form-control" id="OrdNum" [(ngModel)]="SRW.OrdNum" name ="OrdNum"></dx-text-box>
    </div>
    <div class="form-group col-4">
      <label for="OrdDate">Дата приказа</label>
      <dx-date-box class="form-control"id="OrdDate"
      type="date" placeholder="01/01/2021"
      [showClearButton]="true"
      [useMaskBehavior]="true"
      [(value)]="SRW.OrdDate"></dx-date-box>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
        <dx-button type="Default" [useSubmitBehavior]="true"
         stylingMode="contained" text="Сохранить">
        </dx-button>
    </div>
  </div>
  </form> 
</div>