
<form>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputNIR">№ НИР</label>
        <input type="text" class="form-control" id="inputNIR">
      </div>
      <div class="form-group col-md-9">
        <label for="textareaNameNir">Наименование НИР</label>
        <textarea class="form-control " id="textareaNameNir" placeholder="Наименование НИР" required></textarea>
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-2">
      <label for="inputDateIn">Дата начала</label>
      <input type="date" class="form-control" id="inputDateIn">
    </div>
    <div class="form-group col-2">
      <label for="inputDateOut">Дата окончания</label>
      <input type="date" class="form-control" id="inputDateOut">
    </div>
  </div>
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Тип НИР</div>
    <div class="dx-field">
        <div class="dx-field-label">Тип 1</div>
        <div class="dx-field-value">
        <dx-select-box
        [items]="simpleProducts"
        placeholder="Выберите тип"
        [showClearButton]="true">
      </dx-select-box>
        </div>
        </div>
      </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-3">
    <dx-button stylingMode="contained" text="Contained" type="default" text="Сохранить" (onClick)="helloWorld()">
    </dx-button>
    </div></div>
    <div class="form-row">
      <div class="form-group col-md-3">
         <dx-select-box
    [dataSource]="dataSource"
    valueExpr="ID"
    displayExpr="Name"
    [searchEnabled]="true"
    (onValueChanged)="onValueChanged($event)"
    [grouped]="true">
            </dx-select-box>
          </div>  </div>
          <div class="form-row">
            <div class="form-group col-md-3">
          <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Data grouped in the DataSource</div>
                <div class="dx-field-value">
                    <dx-select-box [dataSource]="fromUngroupedData"
                        valueExpr="ID"
                        [grouped]="true"
                        displayExpr="Name"></dx-select-box>
                </div>
              </div></div></div></div>

  </form>